.DS_Store

local.properties
google-services.json

*.iml
.idea/
.gradle/
build/
*.keystore

version.txt

# Make sure our translation downloads don't make our repo dirty when building.
strings.zip
common/src/main/res/*/strings.xml
app/src/main/res/xml/locales_config.xml
wear/src/main/res/xml/locales_config.xml
!common/src/main/res/values/strings.xml

firebaseAppDistributionServiceCredentialsFile.json
playStorePublishServiceCredentialsFile.json

# Ruby stuff we don't care about
.bundle/
vendor/
