language: android
dist: trusty

git:
  depth: false

before_install:
  - chmod ugo+x .travis/before_install.sh
  - ./.travis/before_install.sh

android:
  components:
    - android-29
    - build-tools-28.0.3

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

script:
  - chmod ugo+x .travis/script.sh
  - ./.travis/script.sh