<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.clockwork.settings.WATCH_TOUCH" />
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <uses-sdk tools:overrideLibrary="androidx.health.services.client" />

    <application
        android:name=".HomeAssistantApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeAssistant"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/backup_rules_android12">
        <!-- Start things like SensorWorker on device boot -->
        <receiver android:name=".sensors.SensorReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.MY_PACKAGE_SUSPENDED" />
                <action android:name="android.intent.action.MY_PACKAGE_UNSUSPENDED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED" />
                <action android:name="io.homeassistant.companion.android.UPDATE_SENSORS" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity android:name=".home.HomeActivity" />
        <activity android:name=".splash.SplashActivity"
            android:theme="@style/Theme.HomeAssistant.SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.OnboardingActivity" />
        <activity android:name=".onboarding.integration.MobileAppIntegrationActivity" />
        <activity android:name=".onboarding.manual.ManualSetupActivity" />
        <activity android:name=".onboarding.phoneinstall.PhoneInstallActivity" />
        <activity android:name=".complications.ComplicationConfigActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="io.homeassistant.companion.android.ENTITY_STATE_COMPLICATION_CONFIG" />
                <category android:name="android.support.wearable.complications.category.PROVIDER_CONFIG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tiles.OpenTileSettingsActivity"
            android:exported="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="ConfigShortcutsTile" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.google.android.clockwork.tiles.category.PROVIDER_CONFIG" />
            </intent-filter>
            <intent-filter>
                <action android:name="ConfigCameraTile" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.google.android.clockwork.tiles.category.PROVIDER_CONFIG" />
            </intent-filter>
            <intent-filter>
                <action android:name="ConfigTemplateTile" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.google.android.clockwork.tiles.category.PROVIDER_CONFIG" />
            </intent-filter>
        </activity>

        <!-- To show confirmations and failures -->
        <activity android:name="androidx.wear.activity.ConfirmationActivity" />

        <activity
            android:name=".conversation.ConversationActivity"
            android:icon="@mipmap/ic_assist_launcher"
            android:label="@string/ha_assist"
            android:launchMode="singleTask"
            android:theme="@style/Theme.HomeAssistant.SplashThemeAssist"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".conversation.AssistantActivity"
            android:targetActivity=".conversation.ConversationActivity"
            android:label="@string/ha_assist"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <action android:name="android.intent.action.VOICE_ASSIST"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- Tiles -->
        <service
            android:name=".tiles.ShortcutsTile"
            android:label="@string/shortcuts"
            android:description="@string/shortcuts_tile_description"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/favorite_entities_tile_example" />

            <meta-data
                android:name="com.google.android.clockwork.tiles.MULTI_INSTANCES_SUPPORTED"
                android:value="true" /> <!-- This is supported starting from Wear OS 3 -->

            <meta-data
                android:name="com.google.android.clockwork.tiles.PROVIDER_CONFIG_ACTION"
                android:value="ConfigShortcutsTile" />
        </service>
        <service
            android:name=".tiles.TemplateTile"
            android:label="@string/template"
            android:description="@string/template_tile_desc"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/template_tile_example" />

            <meta-data
                android:name="com.google.android.clockwork.tiles.MULTI_INSTANCES_SUPPORTED"
                android:value="true" /> <!-- This is supported starting from Wear OS 3 -->

            <meta-data
                android:name="com.google.android.clockwork.tiles.PROVIDER_CONFIG_ACTION"
                android:value="ConfigTemplateTile" />
        </service>
        <service
            android:name=".tiles.ConversationTile"
            android:label="@string/assist"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/conversation_tile_example" />
        </service>
        <service
            android:name=".tiles.CameraTile"
            android:label="@string/camera"
            android:description="@string/camera_tile_desc"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/camera_tile_example" />

            <meta-data
                android:name="com.google.android.clockwork.tiles.MULTI_INSTANCES_SUPPORTED"
                android:value="true" /> <!-- This is supported starting from Wear OS 3 -->

            <meta-data
                android:name="com.google.android.clockwork.tiles.PROVIDER_CONFIG_ACTION"
                android:value="ConfigCameraTile" />
        </service>
        <receiver android:name=".tiles.TileActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.homeassistant.companion.android.TILE_ACTION" />
            </intent-filter>
        </receiver>
        
        <!-- Complications -->
        <service android:name=".complications.EntityStateDataSourceService"
            android:exported="true"
            android:icon="@drawable/ic_lightbulb"
            android:label="@string/complication_entity_state_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="900" />
            <meta-data
                android:name="android.support.wearable.complications.PROVIDER_CONFIG_ACTION"
                android:value="io.homeassistant.companion.android.ENTITY_STATE_COMPLICATION_CONFIG" />
        </service>

        <service android:name=".complications.AssistDataSourceService"
            android:exported="true"
            android:icon="@mipmap/ic_assist_launcher"
            android:label="@string/assist"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <receiver android:name=".complications.ComplicationReceiver" />

        <service android:name=".phone.PhoneSettingsListener" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*"
                    android:path="/authenticate" />
                <data android:scheme="wear" android:host="*"
                    android:path="/requestConfig" />
                <data android:scheme="wear" android:host="*"
                    android:path="/updateFavorites" />
                <data android:scheme="wear" android:host="*"
                    android:path="/updateTemplateTiles" />
            </intent-filter>
        </service>

        <service
            android:name=".notifications.FirebaseCloudMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

    </application>

</manifest>
