<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:compileSdkVersion="29"
    android:installLocation="auto"
    package="io.homeassistant.companion.android">

    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1"
        tools:targetApi="n" />

    <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" tools:node="remove" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" tools:node="remove" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission"
        tools:node="remove" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"
        tools:node="remove" />

    <application android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher">
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest|quest2"/>

        <activity android:name=".launch.LaunchActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            tools:node="replace"
            android:theme="@style/Theme.LaunchScreen">
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="homeassistant"
                    android:host="navigate" />
            </intent-filter>
        </activity>
    </application>


</manifest>
