<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.homeassistant.companion.android.resources">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <receiver
            android:name="io.homeassistant.companion.android.background.LocationBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="io.homeassistant.companion.android.background.REQUEST_ACCURATE_UPDATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
