<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="io.homeassistant.companion.android.launcher.LauncherActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

<!-- TODO support leanback launcher -->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity-alias
            android:name="io.homeassistant.companion.android.launch.LauncherAlias"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="io.homeassistant.companion.android.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
