<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <receiver android:name=".sensors.SensorUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.homeassistant.companion.android.UPDATE_SENSORS" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notifications.NotificationDeleteReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>