{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 52.3731339,
    "longitude": 4.8903147,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Paris",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "NL",
    "language": "en",
    "radius": 100
  }
}