name: Pull Request

on:
  pull_request:
    branches: [ master ]

jobs:
  ktlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3.5.1
        with:
          distribution: 'adopt'
          java-version: '11'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Mock google-services.json
        run: |
          cp .github/mock-google-services.json app/google-services.json
          cp .github/mock-google-services.json wear/google-services.json

      - name: Validate ktlint
        run: ./gradlew ktlintCheck

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3.5.1
        with:
          distribution: 'adopt'
          java-version: '11'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Mock google-services.json
        run: |
          cp .github/mock-google-services.json app/google-services.json
          cp .github/mock-google-services.json wear/google-services.json

      - name: Validate Lint
        run: ./gradlew lint

  pr_build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up JDK 11
      uses: actions/setup-java@v3.5.1
      with:
        distribution: 'adopt'
        java-version: '11'

    - uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Mock google-services.json
      run: |
        cp .github/mock-google-services.json app/google-services.json
        cp .github/mock-google-services.json wear/google-services.json
    
    - uses: ./.github/actions/create-release-notes
      name: Create Release Notes

    - name: Build Debug APK
      run: ./gradlew assembleDebug
    
    - name: Archive Debug Build
      uses: kittaakos/upload-artifact-as-is@v0
      with:
        path: ./**/*.apk
