name: Tag Weekly Release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * 0'
jobs:
  tag:
    name: Tag Weekly Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3.11.0
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Tag Weekly Release
        env:
          GITHUB_TOKEN: ${{ secrets.TAG_PUSH_TOKEN }}
        run: ./gradlew :reckonTagPush -Preckon.stage=final
